<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>menu</string>
	<key>title</key>
	<string>After Surgery</string>
	<key>data</key>
	<array>
		<dict>
			<key>type</key>
			<string>document</string>
			<key>title</key>
			<string>Drain Care</string>
			<key>data</key>
			<string>draincare.html</string>
		</dict>
		<dict>
			<key>type</key>
			<string>document</string>
			<key>title</key>
			<string>Liposuction Information</string>
			<key>data</key>
			<string>liposuction.html</string>
		</dict>
		<dict>
			<key>type</key>
			<string>document</string>
			<key>title</key>
			<string>Breast Augmentation</string>
			<key>data</key>
			<string>breast_augmentation.html</string>
		</dict>
		<dict>
			<key>type</key>
			<string>document</string>
			<key>title</key>
			<string>Breast Reduction</string>
			<key>data</key>
			<string>breast_reduction.html</string>
		</dict>
		<dict>
			<key>type</key>
			<string>document</string>
			<key>title</key>
			<string>Breast Lift</string>
			<key>data</key>
			<string>breastlift.html</string>
		</dict>
		<dict>
			<key>type</key>
			<string>document</string>
			<key>title</key>
			<string>DIEP or TRAM Flap</string>
			<key>data</key>
			<string>DIEP_and_TRAM.html</string>
		</dict>
		<dict>
			<key>type</key>
			<string>document</string>
			<key>title</key>
			<string>Fat Grafting</string>
			<key>data</key>
			<string>fat_grafting.html</string>
		</dict>
		<dict>
			<key>type</key>
			<string>document</string>
			<key>title</key>
			<string>Latissimus Flap and Implant</string>
			<key>data</key>
			<string>LD.html</string>
		</dict>
		<dict>
			<key>type</key>
			<string>document</string>
			<key>title</key>
			<string>Nipple and Areola Reconstruction</string>
			<key>data</key>
			<string>NAC_recon.html</string>
		</dict>
		<dict>
			<key>type</key>
			<string>document</string>
			<key>title</key>
			<string>Nipple and Areola Tattoo</string>
			<key>data</key>
			<string>NAC_tattoo.html</string>
		</dict>
		<dict>
			<key>type</key>
			<string>document</string>
			<key>title</key>
			<string>SGAP-IGAP Flap</string>
			<key>data</key>
			<string>SGAP_and_IGAP.html</string>
		</dict>
		<dict>
			<key>type</key>
			<string>document</string>
			<key>title</key>
			<string>TUG Flap</string>
			<key>data</key>
			<string>TUG_flap.html</string>
		</dict>
		<dict>
			<key>type</key>
			<string>menu</string>
			<key>title</key>
			<string>Tissue Expanders Reconstruction</string>
			<key>data</key>
			<array>
				<dict>
					<key>type</key>
					<string>document</string>
					<key>title</key>
					<string>Tissue Expanders Reconstruction</string>
					<key>data</key>
					<string>TE.html</string>
				</dict>
				<dict>
					<key>type</key>
					<string>document</string>
					<key>title</key>
					<string>What to Expect During Expansion</string>
					<key>data</key>
					<string>te_whattoexpect.html</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>type</key>
			<string>document</string>
			<key>title</key>
			<string>Medications to Avoid</string>
			<key>data</key>
			<string>medications_to_avoid.html</string>
		</dict>
	</array>
</dict>
</plist>
