<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fonts</key>
	<dict>
		<key>default</key>
		<string>Karla</string>
	</dict>
	<key>paths</key>
	<dict>
		<key>documents_path</key>
		<string>html</string>
		<key>fullsize_path</key>
		<string>gallery/fullsize</string>
		<key>thumbnails_path</key>
		<string>gallery/thumbnails</string>
	</dict>
	<key>itemcolors</key>
	<dict>
		<key>menuNavBar_background</key>
		<string>maroon</string>
		<key>menuItemLabel_foreground</key>
		<string>gray</string>
		<key>thumbnail_border</key>
		<string>dark_mauve</string>
		<key>menu_seperator</key>
		<string>pink</string>
		<key>menuItemIcon_normal</key>
		<string>gray</string>
		<key>menuitem_selected</key>
		<string>pink</string>
		<key>menuSubItem_selected</key>
		<string>pink</string>
		<key>imageBorder_background</key>
		<string>pink</string>
		<key>thumbnail_background</key>
		<string>pink</string>
		<key>menu_navbar_text</key>
		<string>white</string>
		<key>menu_background</key>
		<string>white</string>
		<key>menuItem_background</key>
		<string>white</string>
		<key>menuItemLabel_selected</key>
		<string>white</string>
		<key>menuItemIcon_selected</key>
		<string>white</string>
		<key>image_title_text</key>
		<string>white</string>
		<key>image_button</key>
		<string>white</string>
	</dict>
	<key>basecolors</key>
	<dict>
		<key>white</key>
		<dict>
			<key>red</key>
			<string>255</string>
			<key>green</key>
			<string>255</string>
			<key>blue</key>
			<string>255</string>
			<key>alpha</key>
			<string>1</string>
			<key>hex</key>
			<string>ffffff</string>
		</dict>
		<key>black</key>
		<dict>
			<key>red</key>
			<string>0</string>
			<key>green</key>
			<string>0</string>
			<key>blue</key>
			<string>0</string>
			<key>alpha</key>
			<string>1</string>
			<key>hex</key>
			<string>000000</string>
		</dict>
		<key>maiden_blush</key>
		<dict>
			<key>red</key>
			<string>213</string>
			<key>green</key>
			<string>95</string>
			<key>blue</key>
			<string>95</string>
			<key>alpha</key>
			<string>1</string>
			<key>hex</key>
			<string>d55f5f</string>
		</dict>
		<key>blood_bomb</key>
		<dict>
			<key>red</key>
			<string>175</string>
			<key>green</key>
			<string>51</string>
			<key>blue</key>
			<string>51</string>
			<key>alpha</key>
			<string>1</string>
			<key>hex</key>
			<string>af3333</string>
		</dict>
		<key>bridesmaid</key>
		<dict>
			<key>red</key>
			<string>57</string>
			<key>green</key>
			<string>128</string>
			<key>blue</key>
			<string>128</string>
			<key>alpha</key>
			<string>1</string>
			<key>hex</key>
			<string>398080</string>
		</dict>
		<key>neptune</key>
		<dict>
			<key>red</key>
			<string>13</string>
			<key>green</key>
			<string>84</string>
			<key>blue</key>
			<string>84</string>
			<key>alpha</key>
			<string>1</string>
			<key>hex</key>
			<string>0d5454</string>
		</dict>
		<key>marble_flesh</key>
		<dict>
			<key>red</key>
			<string>247</string>
			<key>green</key>
			<string>247</string>
			<key>blue</key>
			<string>239</string>
			<key>alpha</key>
			<string>1</string>
			<key>hex</key>
			<string>f7f7ef</string>
		</dict>
		<key>gray</key>
		<dict>
			<key>red</key>
			<string>59</string>
			<key>green</key>
			<string>59</string>
			<key>blue</key>
			<string>59</string>
			<key>alpha</key>
			<string>1</string>
			<key>hex</key>
			<string>3b3b3b</string>
		</dict>
		<key>teal</key>
		<dict>
			<key>red</key>
			<string>137</string>
			<key>green</key>
			<string>209</string>
			<key>blue</key>
			<string>205</string>
			<key>alpha</key>
			<string>1</string>
			<key>hex</key>
			<string>89d1cd</string>
		</dict>
		<key>pink</key>
		<dict>
			<key>red</key>
			<string>239</string>
			<key>green</key>
			<string>174</string>
			<key>blue</key>
			<string>172</string>
			<key>alpha</key>
			<string>1</string>
			<key>hex</key>
			<string>efaeac</string>
		</dict>
		<key>brown</key>
		<dict>
			<key>red</key>
			<string>108</string>
			<key>green</key>
			<string>87</string>
			<key>blue</key>
			<string>82</string>
			<key>alpha</key>
			<string>1</string>
			<key>hex</key>
			<string>6c5752</string>
		</dict>
		<key>lt_brown</key>
		<dict>
			<key>red</key>
			<string>155</string>
			<key>green</key>
			<string>125</string>
			<key>blue</key>
			<string>118</string>
			<key>alpha</key>
			<string>1</string>
			<key>hex</key>
			<string>9b7d76</string>
		</dict>
		<key>cream</key>
		<dict>
			<key>red</key>
			<string>248</string>
			<key>green</key>
			<string>238</string>
			<key>blue</key>
			<string>226</string>
			<key>alpha</key>
			<string>1</string>
			<key>hex</key>
			<string>f8eee2</string>
		</dict>
		<key>dark_mauve</key>
		<dict>
			<key>red</key>
			<string>189</string>
			<key>green</key>
			<string>124</string>
			<key>blue</key>
			<string>120</string>
			<key>alpha</key>
			<string>1</string>
			<key>hex</key>
			<string>bd7c78</string>
		</dict>
		<key>tongue</key>
		<dict>
			<key>red</key>
			<string>206</string>
			<key>green</key>
			<string>180</string>
			<key>blue</key>
			<string>183</string>
			<key>alpha</key>
			<string>1</string>
			<key>hex</key>
			<string>ceb4b7</string>
		</dict>
		<key>conan_obrien</key>
		<dict>
			<key>red</key>
			<string>250</string>
			<key>green</key>
			<string>246</string>
			<key>blue</key>
			<string>247</string>
			<key>alpha</key>
			<string>1</string>
			<key>hex</key>
			<string>faf6f7</string>
		</dict>
		<key>dying_sakura</key>
		<dict>
			<key>red</key>
			<string>174</string>
			<key>green</key>
			<string>135</string>
			<key>blue</key>
			<string>139</string>
			<key>alpha</key>
			<string>1</string>
			<key>hex</key>
			<string>ae878b</string>
		</dict>
		<key>charcoal</key>
		<dict>
			<key>red</key>
			<string>100</string>
			<key>green</key>
			<string>100</string>
			<key>blue</key>
			<string>100</string>
			<key>alpha</key>
			<string>1</string>
			<key>hex</key>
			<string>646464</string>
		</dict>
		<key>abe_vigoda</key>
		<dict>
			<key>red</key>
			<string>200</string>
			<key>green</key>
			<string>200</string>
			<key>blue</key>
			<string>200</string>
			<key>alpha</key>
			<string>1</string>
			<key>hex</key>
			<string>c8c8c8</string>
		</dict>
		<key>cuticle</key>
		<dict>
			<key>red</key>
			<string>255</string>
			<key>green</key>
			<string>253</string>
			<key>blue</key>
			<string>251</string>
			<key>alpha</key>
			<string>1</string>
			<key>hex</key>
			<string>fffdfb</string>
		</dict>
		<key>dune</key>
		<dict>
			<key>red</key>
			<string>213</string>
			<key>green</key>
			<string>197</string>
			<key>blue</key>
			<string>187</string>
			<key>alpha</key>
			<string>1</string>
			<key>hex</key>
			<string>d5c5bb</string>
		</dict>
		<key>pool_hair</key>
		<dict>
			<key>red</key>
			<string>117</string>
			<key>green</key>
			<string>134</string>
			<key>blue</key>
			<string>131</string>
			<key>alpha</key>
			<string>1</string>
			<key>hex</key>
			<string>758683</string>
		</dict>
		<key>algae</key>
		<dict>
			<key>red</key>
			<string>88</string>
			<key>green</key>
			<string>113</string>
			<key>blue</key>
			<string>109</string>
			<key>alpha</key>
			<string>1</string>
			<key>hex</key>
			<string>58716d</string>
		</dict>
		<key>gangrene</key>
		<dict>
			<key>red</key>
			<string>39</string>
			<key>green</key>
			<string>61</string>
			<key>blue</key>
			<string>58</string>
			<key>alpha</key>
			<string>1</string>
			<key>hex</key>
			<string>273d3a</string>
		</dict>
		<key>lipstick</key>
		<dict>
			<key>red</key>
			<string>139</string>
			<key>green</key>
			<string>97</string>
			<key>blue</key>
			<string>102</string>
			<key>alpha</key>
			<string>1</string>
			<key>hex</key>
			<string>8b6166</string>
		</dict>
		<key>hot_pink</key>
		<dict>
			<key>red</key>
			<string>223</string>
			<key>green</key>
			<string>116</string>
			<key>blue</key>
			<string>154</string>
			<key>alpha</key>
			<string>1</string>
			<key>hex</key>
			<string>df749a</string>
		</dict>
		<key>maroon</key>
		<dict>
			<key>red</key>
			<string>140</string>
			<key>green</key>
			<string>21</string>
			<key>blue</key>
			<string>21</string>
			<key>alpha</key>
			<string>1</string>
			<key>hex</key>
			<string>8C1515</string>
		</dict>
	</dict>
</dict>
</plist>
