<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>menu</string>
	<key>title</key>
	<string>Resources</string>
	<key>data</key>
	<array>
		<dict>
			<key>type</key>
			<string>document</string>
			<key>title</key>
			<string>Resources</string>
			<key>data</key>
			<string>overview_resources.html</string>
		</dict>
		<dict>
			<key>type</key>
			<string>menu</string>
			<key>title</key>
			<string>FAQ</string>
			<key>data</key>
			<array>
				<dict>
					<key>type</key>
					<string>document</string>
					<key>title</key>
					<string>FAQ</string>
					<key>data</key>
					<string>overview_faq.html</string>
				</dict>
				<dict>
					<key>type</key>
					<string>document</string>
					<key>title</key>
					<string>General Information</string>
					<key>data</key>
					<string>faq_general.html</string>
				</dict>
				<dict>
					<key>type</key>
					<string>document</string>
					<key>title</key>
					<string>Drain Care</string>
					<key>data</key>
					<string>faq_draincare.html</string>
				</dict>
				<dict>
					<key>type</key>
					<string>document</string>
					<key>title</key>
					<string>Physical Therapy</string>
					<key>data</key>
					<string>faq_physicaltherapy.html</string>
				</dict>
				<dict>
					<key>type</key>
					<string>document</string>
					<key>title</key>
					<string>Constipation</string>
					<key>data</key>
					<string>faq_constipation.html</string>
				</dict>
				<dict>
					<key>type</key>
					<string>document</string>
					<key>title</key>
					<string>Pain Management</string>
					<key>data</key>
					<string>faq_painmanagement.html</string>
				</dict>
				<dict>
					<key>type</key>
					<string>document</string>
					<key>title</key>
					<string>Medications</string>
					<key>data</key>
					<string>faq_medications.html</string>
				</dict>
				<dict>
					<key>type</key>
					<string>document</string>
					<key>title</key>
					<string>Tissue Expanders</string>
					<key>data</key>
					<string>faq_tissueexpanders.html</string>
				</dict>
				<dict>
					<key>type</key>
					<string>document</string>
					<key>title</key>
					<string>CT Angiogram</string>
					<key>data</key>
					<string>faq_ctangiogram.html</string>
				</dict>
				<dict>
					<key>type</key>
					<string>document</string>
					<key>title</key>
					<string>Dressings</string>
					<key>data</key>
					<string>faq_dressings.html</string>
				</dict>
				<dict>
					<key>type</key>
					<string>document</string>
					<key>title</key>
					<string>Nipple Care</string>
					<key>data</key>
					<string>faq_nipplecare.html</string>
				</dict>
				<dict>
					<key>type</key>
					<string>document</string>
					<key>title</key>
					<string>Weight Loss/Gain</string>
					<key>data</key>
					<string>faq_weightgainloss.html</string>
				</dict>
				<dict>
					<key>type</key>
					<string>document</string>
					<key>title</key>
					<string>Sleeping Positions</string>
					<key>data</key>
					<string>faq_sleepingpositions.html</string>
				</dict>
				<dict>
					<key>type</key>
					<string>document</string>
					<key>title</key>
					<string>Scar Treatment</string>
					<key>data</key>
					<string>faq_scartreatment.html</string>
				</dict>
				<dict>
					<key>type</key>
					<string>document</string>
					<key>title</key>
					<string>Sexuality</string>
					<key>data</key>
					<string>faq_sexuality.html</string>
				</dict>
				<dict>
					<key>type</key>
					<string>document</string>
					<key>title</key>
					<string>Photographs</string>
					<key>data</key>
					<string>faq_photographs.html</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>type</key>
			<string>document</string>
			<key>title</key>
			<string>Feedback</string>
			<key>data</key>
			<string>overview_feedback.html</string>
		</dict>
	</array>
</dict>
</plist>
