body {
	font-family:'Avant Garde',Avantgarde,'Helvetica Neue',Helvetica,sans-serif;
	font-size:13pt;
	color:#3b3b3b;
	line-height:1.5em;
    margin: 0;
}
div#title {
	color:#fff;
	background-color:#8C1515;
	margin: 0 auto;
	font-weight:bold;
	font-size:1.8em;
    line-height:1.1em;
	padding:10px;
	margin-left:170px;
	margin-bottom:1.5em;
}
img.logo-img {
	float:left;
}
ul#carelist {
	margin:1.0em 2.0em 2.0em 2.0em;
	list-style: disc;
	padding-left:3em;
}
div.listheading {
	font-weight:700;
	font-size:18pt;
	padding-left:5px;
	padding-bottom:5px;
	border-bottom:1px solid #000;
	margin-top:1em;
}
div#contact {
	margin-top:1.0em;
	padding-left:2.0em;
}
div#wrapper {
    width: 653px;
    min-height:718px;
    border: 15px solid #efaeac;
    padding: 10px;
    margin-right: 0px;
}
span.hilite {
	font-weight: bold;
	color:#dc6a93;
}
span.heavy {
	font-weight: bold;
}
p#selectleft {
	font-weight: bold;
}
div.faqquestion {
	padding-right:1.1em;
	padding-left:2.1em;
	font-weight: bold;
	color:#3b3b3b;
	font-size:16pt;
	padding-top:1em;
}
div.faqanswer {
	padding-right:2em;
	padding-left:2.6em;
	margin-top:0.5em;
	margin-bottom: 1em;
}
div.resourceaddress {
	padding-left:25px;
}
div#introduction {
	margin-left:1.5em;
	padding-right:0.5em;
}
div.paragraph-padding {
	margin-left:1.5em;
	padding-right:0.5em;
}
ol#listStyle {
    list-style-type:upper-roman;
}
.indent {
	margin-left:1.5em;
	max-width: 600px;
}